In [7]:
from pysdg.gen import Generator

# Train and save model

In [8]:
gen4train = Generator("yandex/tabddpm", save_model=True,  work_dir="yandex_test")

2025-05-30 13:41:03,608 - pysdg - INFO - 104798 - generate.py:132 - **************Started logging the generator: yandex/tabddpm, num_cores= None.**************

In [9]:
gen4train.load("raw_data.csv",  "raw_info.json")

2025-05-30 13:41:03,631 - pysdg - INFO - 104798 - generate.py:362 - Checking the input metadata for any conflict in variable indexes - Passed.

2025-05-30 13:41:04,359 - pysdg - INFO - 104798 - generate.py:476 - The dataset ['tutorial_data'] is loaded into the generator yandex_tabddpm

,outc_cod_0,event_dt,wt,wt_cod,age,age_cod,drugname_0,indi_pt_0,sex
0,NaN,NaT,NaN,NaN,<NA>,NaN,ZANTAC,NaN,NaN
1,DE,NaT,NaN,NaN,18,YR,OXYCONTIN,Drug abuse,M
2,OT,NaT,NaN,NaN,<NA>,NaN,LEMTRADA,NaN,NaN
3,OT,2019-09-17,NaN,NaN,46,YR,COSENTYX,Psoriatic arthropathy,M
4,DE,2016-12-01,110.0,KG,73,YR,ENTRESTO,Cardiac failure,M
...,...,...,...,...,...,...,...,...,...
9995,NaN,NaT,NaN,NaN,<NA>,NaN,ELIQUIS,Product used for unknown indication,NaN
9996,OT,NaT,NaN,NaN,26,YR,ISENTRESS,NaN,M
9997,NaN,NaT,NaN,NaN,<NA>,NaN,MYCOPHENOLATE MOFETIL,NaN,NaN
9998,NaN,NaT,NaN,NaN,<NA>,NaN,AZOPT,Product used for unknown indication,F
9999,NaN,NaT,NaN,NaN,<NA>,NaN,XOLAIR,NaN,NaN

In [10]:
# Set parameters for quick training
gen4train.gen_params = {
        "clustering": {
            "parent_scale": 1.0,
            "num_clusters": 50,
            "clustering_method": "both",
        },
        "diffusion": {
            "d_layers": [512, 1024, 1024, 1024, 512],
            "dropout": 0.0,
            "num_timesteps": 200,
            "model_type": "mlp",
            "iterations": 10,
            "batch_size": 4096,
            "lr": 0.0006,
            "gaussian_loss_type": "mse",
            "weight_decay": 1e-05,
            "scheduler": "cosine",
        },
        "classifier": {
            "d_layers": [128, 256, 512, 256, 128],
            "lr": 0.0001,
            "dim_t": 128,
            "batch_size": 4096,
            "iterations": 10,
        },
        "sampling": {"batch_size": 1000, "classifier_scale": 1.0},
        "matching": {
            "num_matching_clusters": 1,
            "matching_batch_size": 100,
            "unique_matching": True,
            "no_matching": False,
        },
    }

In [11]:
gen4train.train()

2025-05-30 13:41:04,404 - pysdg - INFO - 104798 - generate.py:644 - CUDA device is available. Using GPU for training.
2025-05-30 13:41:04,404 - pysdg - INFO - 104798 - generate.py:1279 - Started training using yandex_tabddpm...

Table name: tutorial_data, Total dataframe shape: (10000, 12), Numerical data shape: (10000, 3), Categorical data shape: (10000, 9)
Clustering checkpoint found, loading...
Training None -> tutorial_data model from scratch
Model params: {'num_classes': 0, 'is_y_cond': 'none', 'rtdl_params': {'d_layers': [512, 1024, 1024, 1024, 512], 'dropout': 0.0}, 'd_in': 12}
mlp

2025-05-30 13:41:05,420 - pysdg - INFO - 104798 - generate.py:1292 - Completed training using yandex_tabddpm.
2025-05-30 13:41:05,500 - pysdg - INFO - 104798 - generate.py:1961 - Saved ZIP file: yandex_test/pysdg_vault.zip
2025-05-30 13:41:05,503 - pysdg - INFO - 104798 - generate.py:709 - Saved artifcat and model as a vault to yandex_test/pysdg_vault.zip.

# Restore model and generate

In [15]:
gen=Generator("yandex/tabddpm")
gen.gen(num_rows=10, num_synths=1, pysdg_vault_path="yandex_test/pysdg_vault.zip")
synths = gen.unload()

2025-05-30 13:44:27,250 - pysdg - INFO - 104798 - generate.py:132 - **************Started logging the generator: yandex/tabddpm, num_cores= None.**************

Generating None -> tutorial_data
Sample size: 10
Sample timestep    0

2025-05-30 13:44:28,789 - pysdg - INFO - 104798 - generate.py:1338 - Generating synth no. 0 of size (10, 12) -- Completed!
2025-05-30 13:44:30,129 - pysdg - INFO - 104798 - generate.py:1934 - The directory '/home/samer/projects/pysdg/tutorials/pysdgws4f52a78710b642b4a87e23787e1b7b9f/yandex_tmp' has been removed successfully.
2025-05-30 13:44:30,130 - pysdg - INFO - 104798 - generate.py:2005 - The directory '/home/samer/projects/pysdg/tutorials/pysdgws4f52a78710b642b4a87e23787e1b7b9f' has been removed successfully.

In [17]:
synths[0].head()

,outc_cod_0,event_dt,wt,wt_cod,age,age_cod,drugname_0,indi_pt_0,sex
0,NaN,NaT,0.6,LBS,<NA>,YR,warfarin,NaN,UNK
1,RI,1965-01-01,NaN,NaN,<NA>,NaN,warfarin,White blood cell count increased,NaN
2,NaN,1965-01-01,0.6,LBS,<NA>,NaN,.ALPHA.1-PROTEINASE INHIBITOR HUMAN,NaN,NaN
3,NaN,NaT,0.6,LBS,0,YR,.ALPHA.1-PROTEINASE INHIBITOR HUMAN,NaN,UNK
4,RI,2019-12-25,NaN,NaN,28847,NaN,warfarin,White blood cell count increased,UNK