In [8]:
from pysdg.gen import Generator

# Train and save model

In [9]:
gen4train = Generator("yandex/tabddpm", save_model=True,  work_dir="yandex_test")

2025-06-13 13:33:25,486 - pysdg - INFO - 96414 - generate.py:132 - **************Started logging the generator: yandex/tabddpm, num_cores= None.**************

In [10]:
gen4train.load("raw_data.csv",  "raw_info.json")

2025-06-13 13:33:38,833 - pysdg - INFO - 96414 - generate.py:349 - Checking the input metadata for any conflict in variable indexes - Passed.
2025-06-13 13:33:40,757 - pysdg - INFO - 96414 - generate.py:463 - The dataset ['tutorial_data'] is loaded into the generator yandex_tabddpm

,outc_cod_0,event_dt,wt,wt_cod,age,age_cod,drugname_0,indi_pt_0,sex
0,NaN,NaT,NaN,NaN,<NA>,NaN,ZANTAC,NaN,NaN
1,DE,NaT,NaN,NaN,18,YR,OXYCONTIN,Drug abuse,M
2,OT,NaT,NaN,NaN,<NA>,NaN,LEMTRADA,NaN,NaN
3,OT,2019-09-17,NaN,NaN,46,YR,COSENTYX,Psoriatic arthropathy,M
4,DE,2016-12-01,110.0,KG,73,YR,ENTRESTO,Cardiac failure,M
...,...,...,...,...,...,...,...,...,...
9995,NaN,NaT,NaN,NaN,<NA>,NaN,ELIQUIS,Product used for unknown indication,NaN
9996,OT,NaT,NaN,NaN,26,YR,ISENTRESS,NaN,M
9997,NaN,NaT,NaN,NaN,<NA>,NaN,MYCOPHENOLATE MOFETIL,NaN,NaN
9998,NaN,NaT,NaN,NaN,<NA>,NaN,AZOPT,Product used for unknown indication,F
9999,NaN,NaT,NaN,NaN,<NA>,NaN,XOLAIR,NaN,NaN

In [11]:
# Set parameters for quick training
gen4train.gen_params = {
        "clustering": {
            "parent_scale": 1.0,
            "num_clusters": 50,
            "clustering_method": "both",
        },
        "diffusion": {
            "d_layers": [512, 1024, 1024, 1024, 512],
            "dropout": 0.0,
            "num_timesteps": 200,
            "model_type": "mlp",
            "iterations": 10,
            "batch_size": 4096,
            "lr": 0.0006,
            "gaussian_loss_type": "mse",
            "weight_decay": 1e-05,
            "scheduler": "cosine",
        },
        "classifier": {
            "d_layers": [128, 256, 512, 256, 128],
            "lr": 0.0001,
            "dim_t": 128,
            "batch_size": 4096,
            "iterations": 10,
        },
        "sampling": {"batch_size": 1000, "classifier_scale": 1.0},
        "matching": {
            "num_matching_clusters": 1,
            "matching_batch_size": 100,
            "unique_matching": True,
            "no_matching": False,
        },
    }

In [12]:
gen4train.train()

2025-06-13 13:33:53,584 - pysdg - INFO - 96414 - generate.py:636 - CUDA device is available. Using GPU for training.
2025-06-13 13:33:53,585 - pysdg - INFO - 96414 - generate.py:1299 - Started training using yandex_tabddpm...

Table name: tutorial_data, Total dataframe shape: (10000, 12), Numerical data shape: (10000, 3), Categorical data shape: (10000, 9)
Training None -> tutorial_data model from scratch
Model params: {'num_classes': 0, 'is_y_cond': 'none', 'rtdl_params': {'d_layers': [512, 1024, 1024, 1024, 512], 'dropout': 0.0}, 'd_in': 12}
mlp

2025-06-13 13:33:58,593 - pysdg - INFO - 96414 - generate.py:1312 - Completed training using yandex_tabddpm.
2025-06-13 13:33:59,071 - pysdg - INFO - 96414 - generate.py:1985 - Saved ZIP file: yandex_test/pysdgws28e399073a294164bd61791c92e2c5e5/pysdg_vault.zip
2025-06-13 13:33:59,100 - pysdg - INFO - 96414 - generate.py:701 - Saved artifcat and model as a vault to yandex_test/pysdgws28e399073a294164bd61791c92e2c5e5/pysdg_vault.zip.

# Restore model and generate

In [13]:
gen=Generator()
gen.gen(num_rows=10, num_synths=1, pysdg_vault_path="/home/samer/projects/pysdg/tutorials/yandex_test/pysdgws28e399073a294164bd61791c92e2c5e5/pysdg_vault.zip")
synths = gen.unload()

2025-06-13 13:35:06,912 - pysdg - INFO - 96414 - generate.py:132 - **************Started logging the generator: dummy, num_cores= None.**************
2025-06-13 13:35:07,419 - pysdg - INFO - 96414 - generate.py:768 - Loaded pysdg vault from /home/samer/projects/pysdg/tutorials/yandex_test/pysdgws28e399073a294164bd61791c92e2c5e5/pysdg_vault.zip. The generator name is yandex_tabddpm.

Generating None -> tutorial_data
Sample size: 10
Sample timestep    0

2025-06-13 13:35:15,611 - pysdg - INFO - 96414 - generate.py:1361 - Generating synth no. 0 of size (10, 12) -- Completed!
2025-06-13 13:35:18,343 - pysdg - INFO - 96414 - generate.py:1958 - The directory '/home/samer/projects/pysdg/tutorials/yandex_test/pysdgws28e399073a294164bd61791c92e2c5e5/pysdgwsed8387b4d6bc414495638fab7aed6a60/yandex_tmp' has been removed successfully.
2025-06-13 13:35:18,359 - pysdg - INFO - 96414 - generate.py:2032 - The directory '/home/samer/projects/pysdg/tutorials/yandex_test/pysdgws28e399073a294164bd61791c92e2c5e5/pysdgwsed8387b4d6bc414495638fab7aed6a60' has been removed successfully.

In [ ]:
synths[0].head()

,outc_cod_0,event_dt,wt,wt_cod,age,age_cod,drugname_0,indi_pt_0,sex
0,NaN,NaT,250.0,NaN,<NA>,NaN,warfarin,NaN,NaN
1,RI,NaT,NaN,NaN,<NA>,YR,warfarin,White blood cell count increased,UNK
2,RI,1965-01-01,250.0,NaN,0,YR,warfarin,White blood cell count increased,NaN
3,RI,NaT,NaN,NaN,<NA>,NaN,warfarin,NaN,NaN
4,NaN,2019-12-25,0.6,NaN,<NA>,YR,warfarin,White blood cell count increased,UNK

: